@menubar-height: 24px;


.component-menubar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    height: @menubar-height;

    padding: 0px 0px;

    background: @color-0;
    color: @color-3;

    line-height: @menubar-height;


    .menuitems {
        list-style: none;
        margin: 0px;
        padding: 0px;

        .menuitem {
            min-width: 200px;
            position: relative;

            &.type-separator {
                margin: 2px 0px;
                border-top: 1px solid @color-0;

                > .caption {
                    display: none;
                }
            }

            > .caption {
                display: block;
                cursor: default;
                padding: 4px 6px;
                line-height: 1;
                border: 1px solid transparent;
            }

            > .menuitems {
                position: absolute;
                top: 100%;
                left: 0px;
                background: @color-1;
                border: 1px solid @color-0;
                display: none;

                .menuitem {
                    float: none;
                }
            }

            &.active {
                > .caption {
                    color: @color-5;
                }

                > .menuitems {
                    display: block;
                }
            }
        }
    }

    > .menuitems {
        .clearfix();

        > .menuitem {
            float: left;
            min-width: 0px;

            &.active {
                > .caption {
                    border-color: @color-0;
                    background: @color-1;
                    border-bottom-color: transparent;
                }

                >.menuitems {
                    margin-top: -1px;
                    border-top-color: transparent;
                }
            }
        }
    }
}

.main-application {
    > .main-grid {
        top: @menubar-height;
    }

    &.hide-menubar {
        > .main-grid {
            top: 0px;
        }

        .component-menubar {
            display: none;
        }
    }
}